body {
  font-family: "Roboto", sans-serif;
  font-family: "Solitreo", cursive;
  font-family: "Unbounded", cursive;
}

.new {
  font-size: 1.3rem;
}

.entradas img {
  height: 25.2rem;
}

.text-form {
  font-size: 1.5rem;
}

.pie img {
  width: 6rem;
}
